# Directories
.cache/
.config/
.idea/
/.local/
/.ssh/
/bitrix/
/cgi-bin/
/images
/temp/
/tmp/
/test/
/upload/

# Files
.adirignore
.aignore
.aurlignore
.bash_history
.DS_Store
.htaccess
.htaccess*
.htpasswd
.htsecure
bxtest.php
ftpaccess
google*.php
Thumbs.db
restore.php
*.cfg
*.config
*.doc
*.docx
*.ini
*.rar
*.html
*.log
*.pdf
*.ppt
*.pptx
*.rar
*.sql
*.tar*
*.tgz
*.txt
*.xml
*.xls
*.xlsx
*.zip